/* xxl */
@media(min-width:1400px) {
  .container {
    max-width: 1320px;
  }
}
/* xl */
@media (max-width:1399px) {
   .container{
    max-width: 1140px;
   } 
   .xl-mt-2{
    margin-top: 2rem;
   }
}
/* lg*/
@media(max-width:1199px){
  .container{
    max-width: 960px;
  }
}

/* md */
@media(max-width:991px){
  .container{
    max-width: 720px;
  }
  .cook-deleciuos .col-3 img{
    display: block;
    width: 83.3%;
  }
  .md-m-0{
    margin: 0;
  }
  .col-md-10{
    width: 83.3%;
  }
  .col-md-12{
    width: 100%;
  }
}

/* sm*/
@media(max-width:767px){
  .container{
    max-width: 540px;
  }
  header{
    position: relative;
  }
  header nav .navbar ul{
    position: absolute;
    top: 100%;
    background-color: #fff;
    flex-direction: column;
    left: 0;
    right: 0;
  }
   header nav .navbar ul li a{
    margin-right: 0;
   }
  header nav .toggle{
    display: block;
  }
}
/* xs */
@media(max-width:575px){
  .container{
    max-width: 100%;
  }
}

