*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --theme-text:#363e50 ;
    --theme-orange:#f2745f;
    --theme-white:#ffffff;
}
html,body{
    font-family: 'Roboto';
}
.container{
    max-width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.col-3{
    width: 25%;
    padding: 0 15px;
}
.col-4{
    width: 33.33%;
    padding: 0 15px;
}
.col-12{
    width: 100%;
    padding: 0 15px;
}
ul li{
    list-style: none;
}
a{
    text-decoration: none;
    display: inline-block;  
}
img{
    width: 100%;
    display: inline-block;
}
.p-0{
    padding: 0;
}
.d-flex{
    display: flex;
}
.justify-content-between{
    justify-content: space-between;
}
.justify-content-center{
    justify-content: center;
}
.align-item-center{
    align-items: center;
}
.text-center{
    text-align: center;
}
.btn{
    padding: 0.8rem 1rem;
    background-color: #fff;
    border: none;
    border-radius: 3px;
    font-size: 14px;
    font-weight: 600;
    color: var(--theme-white);
    background-color: var(--theme-orange);
}
.mt-1{
    margin-top: 1rem;
}
.toggle {
    display: none;
}
.toggle .fa-bars{
    padding: 12px;
    margin-bottom: 20px;
    font-size: 18px;
    color: var(--theme-white);
    background-color: var(--theme-orange);
    border-radius: 5px;
}
/* header start */
header .logo h2{
    font-size: 40px;
    font-weight: 400;
    padding: 35px 0;
    border-bottom: 1px solid #d8deed;
}

header nav .navbar{
    padding: 15px 0;
}
header nav .navbar ul li a{
    font-size: 14px;
    padding: 15px;
    margin-right: 30px;
    color: var(--theme-text);
}
/* header End */

/* hero start */
.hero{
    background: url(/images/banner-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 180px 0; 
}  
.banner h4{
    font-size: 16px;
    font-weight: 500;
    margin: 10px 0;
    color: var(--theme-white);
}  
.banner h2{
    font-size: 42px;
    font-weight: 500;
    margin: 0 0 10px 0;
    color: var(--theme-white);
}
.banner p{
    color: var(--theme-white);
    margin-bottom: 40px;
}

/* hero END */
/* cook deleciuos start */
.cook-deleciuos{
    margin: 100px 0 ; 
}
.cook-deleciuos .cook-content{
    padding: 20px;
    background-color: var(--theme-orange);
}
.cook-deleciuos .cook-content .contact {
    display: flex;
    flex-direction: column;
}
.cook-deleciuos .cook-content{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.cook-deleciuos .cook-content h4{
    font-size: 21px;
    color: var(--theme-white);
    margin-bottom: 15px;
}
.cook-deleciuos .cook-content .contact{
    padding: 20px;
    background-color: #f3826f;
    border-radius: 3px;
}
.cook-deleciuos .cook-content .contact span{
    font-size: 12px;
    color: var(--theme-white);
    margin: 10px 0;
}
.cook-deleciuos .cook-content .contact h6{
    font-size: 24px;
    color: var(--theme-white);
}
.cook-deleciuos .cook-content .or{
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 11px;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 1px;
    border: 1px solid #da6856;
    width: 25px;
    height: 25px;
    display: inline-block;
    line-height: 25px;
    border-radius: 50%; 
}
/* cook deleciuos end */